<h1>
  Details of a user
</h1>

<li><%= @patient.name %></li>
<li><%= @patient.age%></li>
<li><%= @patient.gender%></li>
<li><%= @patient.bloodgroup%></li>
<li><%= @patient.address%></li>
<li><%= @patient.city%></li>

<%= link_to "Edit", edit_patient_path %>

