<h1>
  Details of a user
</h1>

<li><%= @patient.name %></li>
<li><%= @patient.age%></li>
<li><%= @patient.gender%></li>
<li><%= @patient.bloodgroup%></li>
<li><%= @patient.address%></li>
<li><%= @patient.city%></li>

<p><%= link_to "edit" , edit_patient_path%></p>

